---
layout: archive
---
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Byeol-log</title>
<!-- 폰트어썸 -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- 웹페이지 타이틀 로고 넣기 (PNG 파일로 해야함.)
<link rel="shortcut icon"
	href="../assets/images/favicon/montblanc_fav32.png"> -->
<!-- 웹페이지 저장시 아이콘 생성 코드 (PNG 파일로 해야함.)
<link rel="apple-touch-icon=precomposed"
	href="../assets/images/favicon/montblanc_fav144.png"> -->
<!-- 리셋 -->
<link rel="stylesheet" href="../assets/css/reset.css">
<!-- 폰트 적용 -->
<link rel="stylesheet" href="../assets/css/notosans_kr_CDN.css">
<!-- <link rel="stylesheet" href="../assets/css/font.css"> -->
<!-- 페이지 CSS -->
<link rel="stylesheet" href="../assets/css/rwd_templete.css">
<!-- 게시글 SCSS -->
<link rel="stylesheet" href="../assets/css/main.scss">
<!-- 마우스오버 적용 -->
<link rel="stylesheet" href="../assets/css/move.css">
<!-- JS 플러그인 파일 -->
<script src="../assets/js/jquery-1.12.4.min.js"></script>
<script src="../assets/js/jquery-3.3.1.min.js"></script>
<script src="../assets/js/prefixfree.min.js"></script>
</head>
<body>
	<div id="wrap">
		<header class="header cf container">
			<h1 class="logo">
				<a href="https://quflrhrl.github.io">Byeol&nbsp;-&nbsp;log</a>
			</h1>
			<nav>
				<ul class="gnb">
					<li class="over"><a href="/posts/">Posts</a></li>
					<li class="over"><a href="/projects/">Projects</a></li>
					<li class="over"><a href="#">Contact</a></li>
				</ul>
			</nav>
		</header>
	</div>
	<section class="display_section container">
		<div class="cf">
			<section class="promotion_section container">
				<h2 class="sec_title">Posts</h2>
				<!-- <p class="desc">-</p> -->
        <br><br>

        {{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>
{% if paginator.total_pages > 1 %}
<nav class="pagination">
  {% assign first_page_path = paginator.first_page_path | default: site.paginate_path | replace: 'page:num', '' | replace: '//', '/' | relative_url %}
  <ul>
    {% comment %} Link for previous page {% endcomment %}
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <li><a href="{{ first_page_path }}">{{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}</a></li>
      {% else %}
        <li><a href="{{ site.paginate_path | replace: ':num', paginator.previous_page | replace: '//', '/' | relative_url }}">{{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}</a></li>
      {% endif %}
    {% else %}
    <li><a href="#" class="disabled"><span aria-hidden="true">{{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}</span></a></li>
    {% endif %}

    {% comment %} First page {% endcomment %}
    {% if paginator.page == 1 %}
      <li><a href="#" class="disabled current">1</a></li>
    {% else %}
      <li><a href="{{ first_page_path }}">1</a></li>
    {% endif %}

    {% assign page_start = 2 %}
    {% if paginator.page > 4 %}
      {% assign page_start = paginator.page | minus: 2 %}
      {% comment %} Ellipsis for truncated links {% endcomment %}
      <li><a href="#" class="disabled">&hellip;</a></li>
    {% endif %}

    {% assign page_end = paginator.total_pages | minus: 1 %}
    {% assign pages_to_end = paginator.total_pages | minus: paginator.page %}
    {% if pages_to_end > 4 %}
      {% assign page_end = paginator.page | plus: 2 %}
    {% endif %}

    {% for index in (page_start..page_end) %}
      {% if index == paginator.page %}
        <li><a href="{{ site.paginate_path | replace: ':num', index | replace: '//', '/' | relative_url }}" class="disabled current">{{ index }}</a></li>
      {% else %}
        {% comment %} Distance from current page and this link {% endcomment %}
        {% assign dist = paginator.page | minus: index %}
        {% if dist < 0 %}
          {% comment %} Distance must be a positive value {% endcomment %}
          {% assign dist = 0 | minus: dist %}
        {% endif %}
        <li><a href="{{ site.paginate_path | replace: ':num', index | relative_url }}">{{ index }}</a></li>
      {% endif %}
    {% endfor %}

    {% comment %} Ellipsis for truncated links {% endcomment %}
    {% if pages_to_end > 3 %}
      <li><a href="#" class="disabled">&hellip;</a></li>
    {% endif %}

    {% if paginator.page == paginator.total_pages %}
      <li><a href="#" class="disabled current">{{ paginator.page }}</a></li>
    {% else %}
      <li><a href="{{ site.paginate_path | replace: ':num', paginator.total_pages | replace: '//', '/' | relative_url }}">{{ paginator.total_pages }}</a></li>
    {% endif %}

    {% comment %} Link next page {% endcomment %}
    {% if paginator.next_page %}
      <li><a href="{{ site.paginate_path | replace: ':num', paginator.next_page | replace: '//', '/' | relative_url }}">{{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}</a></li>
    {% else %}
      <li><a href="#" class="disabled"><span aria-hidden="true">{{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}</span></a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}
        
				<br>
				<!-- <script type="text/javascript">
					var num = Math.floor(Math.random() * 6) + 1;
					document
							.write("<img src='../assets/images/profile" + num +".png' alt='랜덤이미지' / >");
				</script> -->
			</section>
		</div>
	</section>
	<footer class="footer">
		<hr class="divider">
		<!-- <iframe 
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6325.925109043142!2d126.96793963488768!3d37.555946000000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca266e3947003%3A0xe7be97c172b7af6a!2z7ISc7Jq47Jet!5e0!3m2!1sko!2skr!4v1663634471811!5m2!1sko!2skr" 
                allowfullscreen="" 
                loading="lazy" 
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>-->
		<p>COPYRIGHT ALL RIGHTS RESERVED., BYEOL</p>
	</footer>
	</div>
</body>
</html>
